.home {
  position: relative;
  min-height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-align: center;
}

.home-content {
  position: relative;
  z-index: 10;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  user-select: none;
  pointer-events: none;
  animation-name: fall;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fall {
  0% { transform: translateY(0) }
  100% { transform: translateY(100vh) }
}
