@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* makes width/padding calculations easier */
}

body {
  font-family: Arial, sans-serif; /* optional: set your font */
}
